footer {
  min-height: 10vh;
  max-width: 100%;
}

.footer-container {
  max-width: 95%;
  margin: 0 auto;
  padding: 1rem 0rem;
  @include flex(space-between, center, row);

  h5 {
    flex: 1 1 40rem;
    font-size: $header5;
  }

  ul {
    flex: 1 1 20rem;
    @include flex(space-evenly, center, row);
    list-style: none;
  }

  img {
    height: 5rem;
  }
}
