---
import coFlagSVG from "../../assets/icons/usa-colorado.svg";
---

<section id="location" class="py-5">
    <h2 class="fw-bolder text-center pb-5">Location</h2>
    <div class="row">
        <article class="col-12 col-lg-6">
            <h3 class="fw-semibold">Located in the Town of Erie, Colorado.</h3>
            <p>
                The reasons people call Colorado home often include a passion
                for the outdoors, a diverse and dynamic community and the
                contemporary pace to life that appeals to all ages. As you will
                soon discover, the Town of Erie offers the best of all of these.
                With our majestic mountain views and progressive civic vision,
                we provide a genuine small-town feel with all the reassuring
                qualities that implies – a sense of community, neighbors who
                care, and a contemporary town with modern amenities and
                comforting closeness.
            </p>
            <p>
                Growing families, young professionals, outdoor enthusiasts, and
                active adults are drawn to our panoramic location, scenic
                trails, championship golf course, recreational activities, and
                more than 300 days of sunshine per year. Of course, many are
                also attracted by our premier educational facilities, which
                include new and planned schools.
            </p>
            <p>
                Factor in our award-winning 63,000 square foot Erie Community
                Center and 20,000 square foot Erie Community Library; and our
                quality of life just keeps getting better and better.
            </p>
        </article>
        <div class="col-12 col-lg-5">
            <h3 class="fw-semibold">Address</h3>
            <div class="card text-center fw-medium">
                <div class="card-img-top img-fluid">
                    <img src={coFlagSVG.src} alt={"Colorado flag"} />
                </div>
                <div class="card-body fw-bold">
                    <p class="car-text">
                        2866 Ironwood Circle<br />
                         Erie, Colorado 80516
                    </p>
                    <p>(720) 645-1196</p>
                </div>
            </div>
        </div>
    </div>
</section>
