@import '../node_modules/materialize-css/dist/css/materialize.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
/* pallet link: https://coolors.co/cc8b86-f9eae1-7d4f50-d1be9c-aa998f */
:root {
  --background-color: #f9eae1;
  --primary: #7d4f50;
  --secondary: #cc8b86;
  --tertiary: #aa998f;
}

.background-color {
  background-color: var(--background-color) !important;
}

.text-tertiary-color {
  color: var(--tertiary) !important;
}

.primary-color {
  background-color: var(--primary) !important;
}

.secondary-color {
  background-color: var(--secondary) !important;
}

.tertiary-color {
  background-color: var(--tertiary) !important;
}

html {
  scroll-behavior: smooth;
}

.brand-logo {
  text-decoration: underline;
}

.section-hero {
  position: relative;
  min-height: 87.8vh;
}

.hero-card {
  max-width: 700px;
  margin: auto;
}

.section-hero .catcher .btn-large {
  margin-top: 30px;
}

.section-hero .catcher h3 {
  border: 3px solid black;
  padding: 10px;
}

.catcher {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
}

.section-services h5 {
  padding: 10px;
}

.section-services .card ul li {
  list-style: square;
  margin-left: 10px;
}

.section-location .card {
  max-width: 400px;
  margin: auto;
}

.section-contact {
  min-height: 100vh;
}

.section-contact .collapsible {
  margin-top: 50px !important;
}

.section-contact .collapsible li {
  margin-top: 50px !important;
}

.collapsible {
  max-width: 850px;
  margin: auto;
}

.section-contact .input-field label.active + input,
.section-contact .input-field textarea:focus {
  border-bottom-color: var(--secondary) !important;
  box-shadow: 0 1px 0 0 var(--secondary) !important;
}

/* .bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./imgs/house-front.jpg');

  background-size: cover;
} */

/* .card {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.card img {
  margin: 2rem auto 0rem auto;
} */
