@use 'config';

.about-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  p {
    text-indent: 5%;
  }
}

.descriptions-container {
  max-width: 800px;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;

  article {
    margin-bottom: 2rem;
  }

  h3,
  h4 {
    text-align: center;
    margin-bottom: 1rem;
  }

  h4 {
    text-decoration: underline;
    font-size: config.$header4;
  }
}

.people-container {
  flex-basis: 800px;
  margin: 0rem auto;

  .people-card {
    background-color: config.$secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    .lisa {
      border-radius: 50%;
      height: 150px;
      width: 150px;
    }

    p {
      padding: 0rem 1rem;
    }
  }
}

@media only screen and (min-width: 800px) {
  .about-container {
    flex-direction: row;
  }

  .people-container {
    .people-card {
      flex-direction: row;
    }
  }
}
