/* OG pallet link: https://coolors.co/565264-706677-a6808c-ccb7ae-d6cfcb */
// Recent: https://coolors.co/cc8b86-f9eae1-7d4f50-d1be9c-aa998f

$header1: 3.4rem;
$header2: 2rem;
$header3: 2.5rem;
$header4: 1.2rem;
$header5: 3rem;
$paragraph: 2rem;
$bg: rgba(249, 234, 225, 0.3);
$paragraph-color: #333;
$primary: rgba(125, 79, 80, 1);
$secondary: rgba(209, 190, 156, 0.4);
$tertiary: rgba(170, 153, 143, 1);
// $btn: lighten(rgba(204, 139, 134, 1), 30%);
$btn: rgba(249, 234, 225, 1);
$hover: rgba(204, 139, 134, 1);
$active: rgb(42, 28, 56);

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
