@use 'config';

.contact-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  .form-container {
    background: config.$primary;
    margin-bottom: 2rem;
    max-width: 100vw;

    .label {
      position: relative;
      text-align: center;
      font-size: config.$header4;
      padding: 1rem;
      background-color: config.$btn;
      border: 0.2rem config.$primary solid;
      cursor: pointer;

      &:before {
        content: '+';
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    form {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      overflow: hidden;
      height: 0px;
      transition: 0.3s;

      .form-control {
        margin: 0.5rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
          display: block;
          flex: 1;
        }
        label {
          color: white;
        }

        textarea {
          display: block;
          margin: 0rem 1rem 3rem 1rem;
          width: 100%;
        }
      }
    }

    button {
      width: 100%;
      padding: 1rem 0;
      bottom: 0;
      right: 0;
      position: absolute;
      border: none;
      background-color: config.$btn;
      font-size: config.$header4;
      cursor: pointer;
      transition: 0.3s;
      border: 0.2rem config.$primary solid;

      &:hover {
        background-color: config.$hover;
      }
    }
  }

  form.active {
    height: 500px;

    .label {
      color: green;
    }
  }
}

.hidden {
  display: none;
}

@media only screen and (min-width: 800px) {
  .contact-container {
    max-width: 1440px;

    .form-container {
      min-width: 700px;
    }
  }
}
