@use 'config';

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0rem;
  margin-top: 2rem;

  li {
    list-style: none;
  }

  img {
    width: 2rem;
  }
}
