/* Global Styles*/
@use 'config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden !important;
  width: auto !important;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  width: auto;
  color: config.$paragraph-color;
}

.hero-container,
.about-container,
.gallery-container,
.services-container,
.location-container,
.contact-container,
.footer-container {
  padding: 0rem 1rem;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: config.$header1;
}

h2 {
  font-size: config.$header2;
}
h3 {
  font-size: config.$header3;
  margin: 1rem 0rem;
}
h4 {
  text-decoration: underline;
  font-size: config.$header4;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .hero-container,
  .about-container,
  .gallery-container,
  .services-container,
  .location-container,
  .contact-container,
  .footer-container {
    margin-top: 3rem;
  }
}
