@use 'config';

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

#hero {
  color: white;
  text-align: center;

  img,
  .hero-gradient {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    z-index: -2;
  }

  .hero-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
    z-index: -1;
  }
}

.hero-container {
  min-height: 92vh;
  @include flex(center, center, column);
  max-width: 80%;
  margin: 0 auto;

  h2,
  p {
    text-shadow: 0 0 1rem black;
    opacity: 0;
  }

  h2 {
    font-size: config.$header2;
  }

  p {
    margin-top: 3rem;
    font-size: 3.5rem;
  }

  .btn {
    background-color: config.$button;
    margin: 5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 30rem;
    border-radius: 1.5rem;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.5);
    transition: background 0.5s ease-in-out;

    &:hover {
      background-color: config.$hover;
    }

    &:focus {
      outline: none;
      background-color: config.$hover;
    }
  }
}

.hero-container.active h2,
.hero-container.active p {
  opacity: 1;
  transition: opacity 3s ease 0.2s;
}
