@use 'config';

#location {
  position: relative;
}

.location-container {
  min-height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.description {
  background-color: config.$secondary;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 800px;
  margin: auto;

  p {
    padding-top: 1rem;
  }
}

.address {
  margin-top: 1rem;
  text-align: center;

  p {
    margin: 1rem 0rem;
    font-weight: bold;
  }
}

#colorado-flag {
  position: absolute;
  max-height: 400px;
  top: -20%;
  right: 0%;
  opacity: 20%;
  z-index: -1;
}

@media only screen and (min-width: 800px) {
  .location-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
  }

  .description {
    flex: 3;
  }

  .address {
    flex: 1;
  }
}
