@use 'config';

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

#main-header {
  background-color: config.$primary;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  @include flex(space-between, center, row);
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
  min-height: 8vh;

  h1 a {
    flex: 2;
    font-family: 'Sriracha', cursive;
    font-weight: normal;
    font-size: config.$header1;
    transition: all 0.5s ease;

    &:focus {
      outline: none;
      color: config.$hover;
    }
  }
}

.nav-links {
  flex: 1;
  @include flex(space-between, center, row);
  transition: all 0.3s ease-in-out;
  list-style: none;
  padding: 1rem;

  a {
    transition: all 0.5s ease;
    padding: 1rem 2rem;

    &:hover {
      color: config.$hover;
    }

    &:focus {
      outline: none;
      color: config.$hover;
    }
  }

  li {
    font-size: config.$paragraph;
  }
}

.nav-open {
  transform: translateX(-100%);
}

.burger-container {
  @include flex(center, center, row);
  display: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease;

  img {
    padding: 1rem;
    height: 6rem;
  }

  #close {
    position: absolute;
    transform: translateY(110%);
    transition: transform 0.3s ease;
  }

  #open {
    transform: translateY(0%);
    transition: transform 0.3s ease;
  }
}

.burger-container.open #open {
  transform: translateY(-110%);
  transition: transform 0.3s ease;
}
.burger-container.open #close {
  transform: translateY(0%);
  transition: transform 0.3s ease;
}
