@use 'config';

#services {
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;

  h4 {
    font-size: config.$header4;
    color: config.$primary;
  }
}

.card {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0rem;
  padding: 0.2rem 2rem;
  border-radius: 1rem;
  border: 0.2rem config.$primary solid;
  background-color: white;

  img {
    height: 5rem;
    margin: 1rem;
  }
}

@media only screen and (min-width: 800px) {
  .card {
    margin: 1rem 1rem;
  }
}
