/* 

Pallet Link: 
    https://coolors.co/cc8b86-f9eae1-7d4f50-d1be9c-aa998f 

    :root {
      --background-color: #f9eae1;
      --primary: #7d4f50;
      --secondary: #cc8b86;
      --tertiary: #aa998f;
    }
*/

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$navbar-dark-color: white;

$body-bg: #f9eae1;
$my-primary: #7d4f50;
$my-secondary: #cc8b86;
$my-tertiary: #aa998f;
$my-quaternary: #d1be9c;

$nav-link-color: $my-primary;
$nav-pills-link-active-bg: $my-primary;
$nav-pills-link-active-color: white;
$nav-tabs-border-color: $my-primary;
$nav-tabs-link-active-border-color: $my-primary;
$nav-underline-link-active-color: $my-primary;
$nav-link-hover-color: $my-secondary;

$list-group-border-color: $my-primary;
//$list-group-item-padding-y: 1rem;

$accordion-button-active-color: black;
$accordion-button-focus-color: black;
$input-border-radius: 0;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
// Create your own map
$custom-colors: (
    "my-primary": $my-primary,
    "my-secondary": $my-secondary,
    "my-tertiary": $my-tertiary,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";

@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/transitions";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
header {
    position: fixed;
    top: 10;
    z-index: 99;
    width: 100%;
}

.hero-icon {
    display: inline;

    svg {
        width: 2rem;
        height: 2rem;
        fill: white;
    }
}

.services-icon {
    display: block;

    svg {
        width: 4rem;
        height: 4rem;
        fill: $my-tertiary;
    }
}

.fb-icon {
    svg {
        width: 5rem;
        height: 5rem;
        fill: white;
    }
}

.contact-icon {
    svg {
        width: 2rem;
        height: 2rem;
    }
}

.header-buffer {
    padding-top: 56px;
}

.carousel-item {
    height: 95vh;
}

.hero-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 1026;
}

.nav-link {
    text-align: "center";
}

#myTabContent {
    min-height: 400px;
}

.modal-trigger {
    transition: 0.3s ease;

    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }

    &:focus {
        transform: scale(1.02);
    }
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
//@import "../../node_modules/bootstrap/scss/bootstrap.scss";
