@use 'config';
@use 'global';
@use 'nav';
@use 'hero';
@use 'about';
@use 'gallery';
@use 'services';
@use 'location';
@use 'contact';
@use 'footer';
/* pallet link: https://coolors.co/565264-706677-a6808c-ccb7ae-d6cfcb */

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@media (max-width: 1424px) {
  .large-img {
    max-width: 90%;
  }
}

@media (max-width: 1334px) {
  html {
    font-size: 50%;
  }
  form {
    min-width: 60%;
  }
}

@media (max-width: 1067px) {
  .navbar {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  #hero h2 {
    font-size: 8rem;
  }

  .img-container {
    flex-basis: 30%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 43%;
  }

  .navbar {
    flex-wrap: nowrap;
    justify-content: space-between;

    h1 {
      text-align: left;
      font-size: 3rem;
    }

    nav {
      flex: 1 1 5rem;
    }
  }

  .burger-container {
    @include flex(flex-end, center, row);

    img {
      z-index: 2;
    }
  }

  .nav-links {
    background: config.$primary;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    justify-content: space-evenly;

    li {
      z-index: 4;
      font-size: 3rem;
    }

    a {
      padding: 4rem 15rem;
    }
  }

  #hero {
    h2 {
      font-size: 6rem;
    }

    p {
      font-size: 3rem;
    }
  }

  .hero-container,
  .about-container,
  .gallery-container,
  .services-container,
  .location-container {
    max-width: 100%;
  }

  .modal p {
    bottom: 10%;
    max-width: 100%;
  }
  .large-img {
    max-width: 100%;
  }

  .img-container {
    flex-basis: 28%;
  }

  form {
    min-width: 100%;
  }

  .footer-container h5 {
    font-size: 2rem;
  }
}
